#!/bin/sh
#
# DON'T EDIT THIS!
#
# CodeCrafters uses this file to test your code. Don't make any changes here!
#
# DON'T EDIT THIS!

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"

[requires]
python_version = "3"

[scripts]
test = "python -m unittest"
cov = "bash -c 'coverage run -m unittest && coverage xml && coverage report --fail-under 100 --show-missing --skip-covered'"
